CA="https://{{ letsencrypt_url }}/directory"
CA_TERMS="https://{{ letsencrypt_url }}/terms"

KEYSIZE="{{ private_key_length }}" 
CHALLENGETYPE="dns-01"
HOOK="{{ dehydrated_dir }}/route53.py"
CONTACT_EMAIL="{{ dehydrated_contact_email }}"